# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.env

# Windows
Thumbs.db
Desktop.ini

# Nuitka build artifacts
build/
dist/
*.build
*.dist
*.onefile-build
*.onefile-dist

# PyInstaller (legacy)
*.spec

# Executables
*.exe

# Downloads
downloads/
downloads/mp3/
downloads/mp4/